<mat-sidenav-container>
  <mat-sidenav mode="side" opened >
    <mat-nav-list style="width: 160px; height: 200px;" >
      <a mat-list-item routerLink="about" style="height: 60px;"><mat-icon>opacity</mat-icon>Oil for Households</a>
      <a mat-list-item style="height: 60px;"><mat-icon>opacity</mat-icon> Oil for Motorist </a>
      <a mat-list-item style="height: 60px;"><mat-icon>opacity</mat-icon> Oil for Bussiness</a>
      <a mat-list-item style="height: 60px;"><mat-icon>opacity</mat-icon> Oil for Society  </a>
    </mat-nav-list>

  </mat-sidenav>
  <mat-sidenav-content>
    <p style="height: 88vh;">
    <router-outlet></router-outlet>

  </p>

  </mat-sidenav-content>
</mat-sidenav-container>

