<mat-sidenav-container>
  <mat-sidenav mode="side" opened >
    <mat-nav-list style="width: 160px; height: 200px;" >
      <a mat-list-item routerLink="about" style="height: 60px;">Safety<mat-icon></mat-icon></a>
      <a mat-list-item style="height: 60px;">Environment<mat-icon></mat-icon></a>
      <a mat-list-item style="height: 60px;">Go Green<mat-icon></mat-icon> </a>



    </mat-nav-list>

  </mat-sidenav>
  <mat-sidenav-content>
    <p style="height: 88vh;">
    <router-outlet></router-outlet>
  </p>

  </mat-sidenav-content>
</mat-sidenav-container>

